.about-me {
  min-height: calc(100vh - 100px);
  display: flex;
}

.about-me__description {
  width: 50%;
  margin: auto;
}

.about-me__description-box {
  margin: auto;
  width: 60%;
  margin-right: 4vw;
}

.about-me__header {
  text-align: center;
  padding-bottom: 7vh;
  font-size: 25px;
}

.about-me__text {
  text-align: justify;
  padding-bottom: 4vh;
  font-size: 20px;
  font-family: "Tenali Ramakrishna", sans-serif;
}

.about-me__img-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me__img {
  width: 30vw;
  position: relative;
  bottom: 50px;
  max-width: 550px;
}
