.about-me {
  min-height: calc(100vh - 100px);
  display: flex;
}

@media (max-width: 550px) {
  .about-me {
    display: none;
  }
}

.about-me__description {
  width: 50%;
  margin: auto;
}

.about-me__description-box {
  margin: auto;
  width: 60%;
  margin-right: 4vw;
}

.about-me__header {
  text-align: center;
  padding-bottom: 7vh;
  font-size: 25px;
  font-family: "Tenali Ramakrishna", sans-serif;
}

@media (max-width: 1024px) {
  .about-me__header {
    font-size: 18px;
    padding-bottom: 4vh;
  }
}

.about-me__text {
  text-align: justify;
  padding-bottom: 4vh;
  font-size: 20px;
  font-family: "Tenali Ramakrishna", sans-serif;
}

.about-me__img-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me__img {
  max-width: 30vw;
  position: relative;
  bottom: 20px;
  max-height: 750px;
}

.about-me--mobile {
  display: none;
}

@media (max-width: 550px) {
  .about-me--mobile {
    display: block;
    min-height: calc(100vh - 100px);
  }

  .about-me__content--mobile {
    margin: 0 20px 80px;
  }

  .about-me__text--mobile {
    font-size: 16px;
    padding: 0;
  }

  .about-me__img--mobile {
    float: right;
    width: 175px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
