.gallery__navigation {
  margin-top: 60px;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Tenali Ramakrishna", sans-serif;
  padding: 0;
}

.gallery__turn {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
  font-size: 25px;
}

.gallery__description {
  font-size: 25px;
  margin: 0;
}

.gallery__arrow--left,
.gallery__arrow--right {
  padding: 0 20px;
  height: 20px;
}

.gallery__arrow--right {
  transform: rotateZ(180deg);
}

.gallery__description-current {
  font-size: 25px;
  margin: 0;
}

.gallery__container {
  padding: 50px;
}

.gallery__image {
  width: 100%;
}

@media (max-width: 1024px) {
  .gallery__navigation {
    padding: 0 20px;
  }

  .gallery__description {
    font-size: 14px;
  }
  .gallery__description-current {
    font-size: 16px;
  }

  .gallery__arrow--left,
  .gallery__arrow--right {
    height: 15px;
    padding: 0 5px;
  }
}
