.gallery__navigation {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gallery__turn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 25px;
}

.gallery__description {
  font-size: 25px;
}

.gallery__arrow--left {
  padding: 0 20px;
}

.gallery__arrow--right {
  padding: 0 20px;
  transform: rotateZ(180deg);
}

.gallery__description-current {
  align-self: center;
  font-size: 25px;
}

.gallery__container {
  padding: 50px;
}

.gallery__image {
  width: 100%;
}
