.hero {
  display: flex;
  max-height: calc(100vh - 100px);
}

.hero__left {
  min-height: calc(100vh - 100px);
  width: 40%;
  display: flex;
}

.hero__quote-container {
  margin: auto;
  margin-right: 0;
  vertical-align: middle;
}

.hero__quote {
  font-family: "minion-pro", sans-serif;
  color: #707070;
  font-style: italic;
}

.hero__quote-description {
  font-size: calc(10px + 1vw);
}

@media (min-width: 1452px) {
  .hero__quote-description {
    font-size: 25px;
  }
}

.hero__quote-name {
  font-size: calc(5px + 1vw);
  text-align: end;
  padding-top: 40px;
}

@media (min-width: 1452px) {
  .hero__quote-name {
    font-size: 20px;
  }
}

.hero__img {
  position: absolute;
  background-image: linear-gradient(to right, #e5e5e5, transparent 60%),
    url("../photos/hero__photo.jpg");
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 10vh;
  width: 70%;
  background-size: cover;
  z-index: -1;
}
