.navigation {
  position: relative;
  height: 100px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 40px 60px;
}

@media (max-width: 1024px) {
  .navigation--open {
    opacity: 1;
  }
}

.navigation__logo {
  height: 80px;
}

.navigation__menu {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0;
  margin-left: 50px;
}

@media (max-width: 1024px) {
  .navigation__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #e5e5e5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* z-index: 1; */
    /* pointer-events: none; */
    /* opacity: 0; */
  }
}

@media (max-width: 1024px) {
  .navigation__menu--open {
    pointer-events: unset;
  }
}

@media (max-width: 1024px) {
  .navigation__menu-item {
    padding: 50px 0;
  }
}

.navigation__menu-link {
  text-decoration: none;
  color: black;
  font-family: "trajan-sans-pro", sans-serif;
  font-size: 20px;
}

.navigation__menu-item--hidden {
  display: none;
}

@media (max-width: 1024px) {
  .navigation__menu-item--hidden {
    display: block;
  }
}
