.navigation {
  position: relative;
  height: 100px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 40px 60px;
}

@media (max-width: 1280px) {
  .navigation {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .navigation {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .navigation--open {
    opacity: 1;
  }
}

.navigation__logo {
  height: 80px;
}

@media (max-width: 1024px) {
  .navigation__logo {
    height: 60px;
    position: relative;
    right: 35px;
  }
}

.navigation__menu {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0;
  margin-left: 50px;
  transition: 0.5s;
  transition-property: opacity;
}

@media (max-width: 1024px) {
  .navigation__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #e5e5e5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .open {
    pointer-events: unset;
    opacity: 1;
    overflow: hidden;
  }
}

@media (max-width: 1280px) {
  .navigation__menu-item {
    margin-right: 40px;
  }
}

@media (max-width: 1024px) {
  .navigation__menu-item {
    padding: 50px 0;
    margin-right: 0;
  }
}

.navigation__menu-link {
  text-decoration: none;
  color: black;
  font-family: "trajan-sans-pro", sans-serif;
  font-size: 20px;
}

.navigation__menu-item--hidden,
.navigation__burger {
  display: none;
}

@media (max-width: 1024px) {
  .navigation__burger {
    z-index: 50;
    position: fixed;
    top: 0.7rem;
    right: 1.2rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }

  .burger-open {
    position: fixed;
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .navigation__burger-line {
    width: 40px;
    height: 4px;
    background: #000000;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }

  .navigation__burger-line::before,
  .navigation__burger-line::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: #000000;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }

  .navigation__burger-line::before {
    transform: translateY(-12px);
  }

  .navigation__burger-line::after {
    transform: translateY(12px);
  }
}

@media (max-width: 1024px) {
  .navigation__menu-item--hidden {
    display: block;
  }
}
