.portfolio {
  min-height: 85vh;
  display: flex;
  font-family: "Tenali Ramakrishna", sans-serif;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.portfolio__header {
  text-align: center;
  font-size: 25px;
  padding: 30px 0 40px;
}

.portfolio__categories {
  display: flex;
  height: 100%;
}

.portfolio__gallery-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  flex-basis: 33%;
}

.portfolio__img {
  width: 70%;
}

.portfolio__description {
  padding-top: 20px;
  font-size: 20px;
}
